.root{
    -fx-background-color: black;
    
}

.button{
    -fx-background-color: green;
    -fx-text-fill: white;
}


.button:hover{
    -fx-background-color: yellow;
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: gray;
    -fx-text-fill: black;
}

.table-row-cell:odd{
    -fx-background-color: black;
    -fx-text-fill: white;
}

